.container {
  width: 100%;
  overflow: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.horizontal {
  width: fit-content;
  display: flex;
}
