@import "../../constants";

.container {
  @include device(pc) {
    padding: $Spacing-L 0 $Spacing-XL 0;
  }

  @include device(sp) {
    padding: $Spacing-M 0 $Spacing-XL 0;
  }

  .item {
    @include device(pc) {
      margin-left: $Spacing-L;

      &:first-child {
        margin-left: $Spacing-XL;
      }

      &:last-child {
        margin-right: $Spacing-XL;
      }
    }

    @include device(sp) {
      margin-left: $Spacing-M;

      &:first-child {
        margin-left: $Spacing-L;
      }

      &:last-child {
        margin-right: $Spacing-L;
      }
    }
  }

  .become-a-backer {
    @include Box-Shadow;
    @include Clickable;

    width: 46px;
    height: 46px;
    margin-top: 4px;
    background: $Color-White;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 14px;
    }
  }
}
