@import "../../constants";

@mixin background($url) {
  background: url(images/header/#{$url}) center center / cover no-repeat;
}

.container {
  @include background("background.jpg.webp");

  width: 100vw;
  height: calc(100vw / (16 / 9));
  position: relative;

  @include device(sp) {
    @include background("sp.webp");
    height: calc(100vw / (3 / 2));
  }

  img {
    vertical-align: bottom;
  }

  // Clouds

  .c {
    position: absolute;

    @include device(sp) {
      display: none;
    }
  }

  .c1 {
    @extend .c;

    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .c2 {
    @extend .c;

    width: 20.5%;
    top: -12%;
    left: -4%;
  }

  .c3 {
    @extend .c;

    width: 10.5%;
    top: 16.9%;
    left: -3%;
  }

  .c4 {
    @extend .c;

    width: 18.5%;
    top: 12.2%;
    left: 36%;
    right: 0;
  }

  .c5 {
    @extend .c;

    width: 24.3%;
    top: 21.9%;
    left: 8.4%;
    right: 0;
  }

  .c6 {
    @extend .c;

    width: 28%;
    bottom: 0;
    left: -5.1%;
  }

  .c7 {
    @extend .c;

    width: 26%;
    bottom: 0;
    right: -3.9%;
  }

  .c8 {
    @extend .c;

    width: 70.1%;
    bottom: 0;
    right: -4.9%;
  }

  .c9 {
    @extend .c;

    width: 74.4%;
    bottom: 0;
    left: -5%;
  }

  .c10 {
    @extend .c;

    width: 20.3%;
    top: 15.8%;
    right: 13.7%;
  }

  .c11 {
    @extend .c;

    width: 16.5%;
    top: 31%;
    right: -4%;
  }

  .c12 {
    @extend .c;

    width: 9.2%;
    top: 7.5%;
    left: 28.6%;
  }

  .c13 {
    @extend .c;

    width: 9.5%;
    top: 5.4%;
    right: 29.9%;
  }

  .c14 {
    @extend .c;

    width: 11.5%;
    top: 46.5%;
    right: 26.3%;
  }

  .rainbow {
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
  }

  .character {
    width: 23.9%;
    bottom: 14.7%;
    left: 38.1%;
    position: absolute;

    img {
      width: 100%;
    }
  }

  .logo {
    width: 28.7%;
    top: 36.6%;
    left: 35.7%;
    position: absolute;

    img {
      width: 100%;
    }
  }
}

// Fallback

:global {
  body.no-webp {
    :local {
      .container {
        @include background("background.jpg");

        @include device(sp) {
          @include background("sp.jpg");
        }
      }
    }
  }
}

.parallaxs,
.parallax {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;

  @include device(sp) {
    display: none;
  }
}

.parallaxs {
  overflow: hidden;
}
