@import "../../constants";

@mixin background($url) {
  background: url(images/header/#{$url}) center center / cover no-repeat;
}

.container {
  width: 100vw;

  @include device(sp) {
    @include background("sp.webp");
    height: calc(100vw / (3 / 2));
  }

  @include device(pc) {
    @include background("pc.webp");
    height: calc(100vw / (16 / 9));
  }
}

// Fallback

:global {
  body.no-webp {
    :local {
      .container {
        @include device(sp) {
          @include background("sp.jpg");
        }

        @include device(pc) {
          @include background("pc.jpg");
        }
      }
    }
  }
}
