@import "../../constants";

.container {
  @include Clickable;

  width: 256px;
  min-width: 256px;
}

.title {
  margin-bottom: $Spacing-S;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  @include device(pc) {
    @include Typography-L;
  }

  @include device(sp) {
    @include Typography-M;
  }
}

.description {
  @include Typography-S;
  margin-bottom: $Spacing-S;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.tags {
  @include Typography-XS;
  color: $Color-Gray;
  display: flex;
  justify-content: flex-end;

  .tag {
    margin-left: $Spacing-S;

    img {
      margin-right: $Spacing-XS;
      vertical-align: bottom;
    }
  }
}
