@import 'variables';

@font-face {
  font-family: SmartPhoneUI;
  src: url(assets/fonts/SmartFontUI.woff2) format('woff2'),
       url(assets/fonts/SmartFontUI.woff) format('woff'),
       url(assets/fonts/SmartFontUI.ttf) format('truetype');
}

body {
  padding: 0;
  margin: 0;
  color: $color;
  font-size: $font-size;
  font-family: $font-family;
  line-height: $line-height;
  background: url(assets/background.jpg), $main-background-color;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

main {
  top: 50%;
  left: 50%;
  position: absolute;
  margin-top: 0 - $container-height / 2;
  margin-left: 0 - $container-width / 2;
}

#container {
  width: $container-width - $border-width * 2 - ($margin-extra-large - $border-width) * 2;
  height: $container-height - $border-width * 2 - ($margin-extra-large - $border-width) * 2;
  padding: $margin-extra-large - $border-width;
  background: radial-gradient(circle at top left, $container-background-color-start, $container-background-color-end);
  border: $border-width solid $border-color;
  border-radius: $border-radius;
  box-shadow: 0px 4px 16px $container-box-shadow-color;
}

header {
  h1 {
    height: $logo-height;
    line-height: $logo-height;
    padding: 0;
    margin: 0;
    margin-left: $margin-large;

    img {
      height: $logo-height;
    }
  }

  #border {
    width: 100%;
    height: $container-header-border-width;
    background: $border-color;
    margin: $margin-medium 0;
  }

  p {
    padding: 0;
    margin: 0;
    margin-left: $margin-large;
    white-space: pre;
  }
}
