@import "constants";
@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap");

body {
  padding: 0;
  margin: 0;
  color: $Color-Black;
  font-family: "Sawarabi Gothic", sans-serif;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

a {
  color: $Color-Black;
  text-decoration: none;
}
