@import 'variables';

// Fonts

@font-face {
  font-family: Quicksand;
  font-display: swap;
  src: url(assets/fonts/Quicksand.woff2) format('woff2'),
       url(assets/fonts/Quicksand.woff) format('woff'),
       url(assets/fonts/Quicksand.ttf) format('truetype');
}

@font-face {
  font-family: SmartFontUI;
  font-display: swap;
  src: url(assets/fonts/SmartFontUI.woff2) format('woff2'),
       url(assets/fonts/SmartFontUI.woff) format('woff'),
       url(assets/fonts/SmartFontUI.ttf) format('truetype');
}

// Animation

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeOut {
  to { opacity: 0; }
}

.fadeIn {
  animation: .3s fadeIn forwards;
}

.fadeOut {
  animation: .3s fadeOut forwards;
}

img {
  vertical-align: bottom;
}

h1, p {
  padding: 0;
  margin: 0;
}

a {
  outline: 0;
  text-decoration: none;
  color: $color-black;
}

body {
  padding: 0;
  margin: 0;
  color: $color-black;
  font-size: 12px;
  font-family: SmartFontUI, sans-serif;
  line-height: 14px;
  background: url(assets/background.jpg), #F5F5F5;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

$container-width: 800px;
$container-height: 600px;

main {
  top: 50%;
  left: 50%;
  position: absolute;
  margin-top: 0 - $container-height / 2;
  margin-left: 0 - $container-width / 2;
  opacity: 0;
  animation: .5s fadeIn forwards;
}

#container {
  $top-and-bottom-margin: $margin-extra-large + $margin * 3 - $margin;
  $left-and-right-margin: $margin-extra-large;

  width: $container-width - $left-and-right-margin * 2;
  height: $container-height - $top-and-bottom-margin * 2;
  padding-top: $top-and-bottom-margin - $border-width;
  padding-bottom: $top-and-bottom-margin - $border-width;
  padding-left: $left-and-right-margin - $border-width;
  padding-right: $left-and-right-margin - $border-width;
  background: radial-gradient(circle at top left, #FFFFFF, #FAFAFA);
  border: $border-width solid $border-color;
  border-radius: $border-radius;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, .12);
}

header {
  #logo-and-links {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h1 {
      height: 34px;
      line-height: 34px;
      margin-left: $margin-large;

      img {
        height: 100%;
      }
    }

    #links {
      height: 30px;
      display: flex;
      margin-right: $margin-large;

      a {
        margin-right: $margin-small;

        div {
          height: 30px - $margin-small * 2;
          border: $border-width solid $border-color;
          background: $color-white;
          border-radius: $border-radius;
          padding: $margin-small - $border-width;
          font-family: Quicksand;

          &:hover {
            transition: 0.25s ease;
            background: $color-gray;
          }
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  #border {
    width: 100%;
    height: 2px;
    background: $border-color;
    margin: $margin-medium 0;
  }

  p {
    margin-left: $margin-large;
    margin-right: $margin-large;
    white-space: pre-wrap;
  }
}

#body {
  margin-left: $margin-large;
  margin-right: $margin-large;
  white-space: pre-wrap;
  height: 14px * 6;

  p {
    a {
      text-decoration: underline;

      &::before {
        // content: "";
      }
    }
  }
}

#attachments {
  $article-size: 224px;

  margin: $margin-extra-large 0;
  display: flex;

  a {
    margin-right: $margin-medium;

    &:last-child {
      margin-right: 0;
    }

    .attachment:hover {
      transition: 0.25s ease;
      background: $color-gray;
    }
  }

  .attachment {
    width: 224px - $margin-medium * 2;
    height: 168px - $margin-medium * 2;
    border: $border-width solid $border-color;
    padding: $margin-medium - $border-width;
    border-radius: $border-radius;
    background: $color-white;

    .attachment-title-and-link {
      display: flex;
      justify-content: space-between;
      line-height: 14px;

      img {
        display: none;
        height: 14px;
        vertical-align: bottom;
      }
    }

    // 168 - 95 => 73

    .attachment-image {
      margin-top: $margin-small;
      width: 192px - $border-width * 2;
      height: 114px - $border-width * 2;
      border: $border-width solid $border-color;
      border-radius: $border-radius;
    }
  }

  a {
    .attachment .attachment-title-and-link img {
      display: block;
    }
  }
}

$article-size: 224px;
$article-top-and-bottom-margin: $margin-extra-large;

section#articles {
  height: $article-size;
  margin: $margin-extra-large 0;
  // 現状記事数が 3 未満だし，Edge と IE で変にスクロールバーが表示されてしまうので消しておく
  // overflow-x: scroll;
  overflow-scrolling: touch;
  -webkit-overflow-scrolling: touch;
  display: flex;

  &::-webkit-scrollbar {
    display: none;
  }

  #not-found, #loading {
    height: $article-size - $margin-medium * 2;
  }

  .article {
    width: $article-size - $margin-medium * 2;
    height: $article-size - $margin-medium * 2;
    border: $border-width solid $border-color;
    padding: $margin-medium - $border-width;
    border-radius: $border-radius;
    background: $color-white;
    margin-right: $margin-medium;

    &:last-child {
      margin-right: 0;
    }

    .date {
      font-size: 10px;
      line-height: 10px;
      margin-top: $margin;
    }

    .thumbnail {
      $thumbnail-width: 192px;

      width: $thumbnail-width - $border-width * 2;
      height: ($thumbnail-width / 16 * 9) - $border-width * 2;
      margin-top: $margin * 3;
      margin-bottom: $margin * 3;
      border: $border-width solid $border-color;
      border-radius: $border-radius;
    }

    .description {
      font-size: 10px;
      line-height: 10px;
      overflow-x: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .readmore {
      font-size: 10px;
      text-align: right;
      line-height: 10px;
      margin-top: $margin-small;
    }
  }
}

footer {
  display: flex;
  justify-content: space-between;

  #profile {
    border: $border-width solid $border-color;
    border-radius: $border-radius;
    background: $color-white;
    padding: $margin-medium - $border-width;
    display: flex;

    img {
      height: 40px - $border-width * 2 * 2;
      border: 2px solid $border-color;
      border-radius: 100%;
    }

    #self-introduction {
      margin-left: $margin-small;

      #name {
        font-family: Quicksand;
      }

      #description {
        width: 350px;
        font-size: 10px;
        line-height: 11px;
        margin-top: $margin;
      }
    }
  }

  #share-and-copyright {
    display: flex;
    justify-content: space-between;
    text-align: right;
    flex-direction: column;

    #copyright {
      font-family: Quicksand;
      font-size: 10px;
      line-height: 10px;
    }
  }
}

// Twitter Share Button
// https://publish.twitter.com/

.tweet-button {
  &:hover {
    rect {
      transition: 0.25s ease;
      fill: #0c7abf;
    }
  }
}

// Parts

#not-found, #loading {
  width: 100%;
  height: 416px;
  text-align: center;
  display: flex;
  align-items: center;

  &>div {
    margin: 0 auto;
  }

  img {
    height: 100px;
  }

  p {
    margin-top: $margin-medium;
  }

  #return-to-top {
    height: 30px - $margin-small * 2;
    border: $border-width solid $border-color;
    background: $color-white;
    border-radius: $border-radius;
    padding: $margin-small - $border-width;
    font-family: Quicksand;
    display: inline-block;
    margin-top: $margin-medium;

    &:hover {
      transition: 0.25s ease;
      background: $color-gray;
    }
  }
}

#loading {
  p {
    margin-top: 0;
  }
}
