@import url('https://fonts.googleapis.com/css?family=Quicksand:500');

// Constants

$white: rgba(255, 255, 255, 1);
$light-gray: rgba(250, 250, 250, 1);
$gray: rgba(235, 235, 235, 1);

$font-color-light: rgba(120, 120, 120, 1);

$border-outline-size: 1px;
$border-radius: 3px;

$margin-8: 8px;
$margin-16: $margin-8 * 2;
$margin-24: $margin-8 * 3;
$margin-48: $margin-8 * 6;

$width: 800px - $margin-48 * 2 - $border-outline-size * 2;
$height: 600px - $margin-48 * 2 - $border-outline-size * 2;

// Animations

@keyframes fadeIn {
  to { opacity: 1 }
}

.fadeIn {
  animation: .5s fadeIn forwards;
}

// Fonts

@font-face {
  font-family: SmartFontUI;
  src: url(assets/fonts/SmartFontUI.woff) format('woff');
}

// Main

body {
  padding: 0;
  margin: 0;
  color: rgba(60, 60, 60, 1);
  font-size: 12px;
  line-height: 16px;
  font-family: Quicksand, sans-serif;
}

a {
  text-decoration: none;
  color: rgba(60, 60, 60, 1);
}

.background {
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 1;
  background: url('assets/images/background.png'), linear-gradient(to right bottom, $white, rgba(245, 245, 245, 1));
  background-position: center;
  background-size: cover;
}

.container {
  width: $width;
  height: $height;
  padding: $margin-48 - $border-outline-size;
  top: 50%;
  left: 50%;
  margin: -300px 0 0 -400px;
  position: fixed;
  z-index: 2;
  border: $border-outline-size solid $gray;
  border-radius: $border-radius;
  box-shadow: 0 4px 8px rgba(0, 0, 0, .05);
  background: $white;
  opacity: 0;
  animation: .5s fadeIn forwards;

  .padding {
    width: $width;
    height: $height;
    position: relative;
  }

  .flex {
    display: flex;

    &.space-between {
      justify-content: space-between;
    }
  }

  .header {
    $line-height: 2px;
    $line-position-top: 72px;

    > * {
      position: absolute;
      z-index: 4;
    }

    &.entry {
      .icon {
        margin-left: $margin-24;
        width: 141px;
        height: 141px;

        img {
          width: 100%;
          height: 100%;
        }
      }

      .name {
        font-family: SmartFontUI;
        left: 141px + $margin-24;
      }

      .description {
        font-size: 12px;
        line-height: 16px;
        font-family: SmartFontUI;
        white-space: pre-wrap;
        margin-right: $margin-24;
        left: 141px + $margin-24;
      }
    }

    .name {
      $name-height: 30px;

      font-size: 24px;
      line-height: $name-height;
      margin-left: $margin-24;
      top: $line-position-top - $name-height - $margin-16;
    }

    .description {
      font-family: SmartFontUI;
      font-size: 12px;
      line-height: 14px;
      margin-left: $margin-24;
      // .line から位置を計算する
      top: $line-position-top + $line-height + $margin-16;
    }

    .line {
      width: $width + $border-outline-size * 2;
      height: $line-height;
      background: $gray;
      top: $line-position-top;
      z-index: 3;
    }

    .go-to-calmery-me-button {
      top: $line-position-top - 30px - $margin-16;
      right: $margin-24;

      .button {
        width: 95px - $margin-8 * 2 - $border-outline-size * 2;
        padding: 0 $margin-8;
        height: 30px - $border-outline-size * 2;
        border: 1px solid $gray;
        border-radius: $border-radius;
        background: $light-gray;
        line-height: 28px;
        transition: .5s ease;

        &:hover {
          background: $gray; // #83C3D6;
        }

        .label {
          font-size: 10px;
          margin-right: 8px;
          line-height: 30px;
        }

        img {
          width: 14px;
          height: 12px;
          vertical-align: middle;
        }
      }
    }
  }

  .cards {
    top: 212px - $margin-48;
    left: 0;
    width: 100%;
    position: absolute;

    &.entry {
      top: 240px - $margin-48;

      .card {
        height: 192px - $margin-16 * 2 - $border-outline-size * 2;

        .title {
          width: 192px - $border-outline-size * 2 - 13px;
        }

        .description, .more {
          display: none;
        }

        .thumbnail {
          width: 192px - $border-outline-size * 2;
          height: 130px - $border-outline-size * 2;
        }

        .link {
          vertical-align: middle;
        }
      }
    }

    .card {
      width: 224px - $margin-16 * 2 - $border-outline-size * 2;
      height: 219px - $margin-16 * 2 - $border-outline-size * 2;
      line-height: 12px;
      line-height: 14px;
      padding: $margin-16;
      margin-right: $margin-16;
      background: $light-gray;
      border: 1px solid $gray;
      border-radius: $border-radius;
      font-family: SmartFontUI;

      &:last-child {
        margin-right: 0;
      }

      .title {
        width: 100%;
      }

      .thumbnail {
        width: 192px - $border-outline-size * 2;
        height: 108px - $border-outline-size * 2;
        border: 1px solid $gray;
        margin-top: $margin-16;
        background: $white;
        border-radius: $border-radius;
      }

      .description {
        width: 192px;
        margin-top: $margin-16;
        color: $font-color-light;
        font-size: 10px;
        line-height: 12px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      .more {
        font-size: 10px;
        line-height: 12px;
        margin-top: $margin-8;
        text-align: right;
        cursor: pointer;
      }
    }
  }

  .profile {
    width: 446px - $margin-16 * 2 - $border-outline-size * 2;
    height: 72px - $margin-16 * 2 - $border-outline-size * 2;
    padding: $margin-16;
    border: 1px solid $gray;
    border-radius: $border-radius;
    bottom: 0;
    left: 0;
    position: absolute;

    .icon {
      width: 40px - $border-outline-size * 4;
      height: 40px - $border-outline-size * 4;
      border: 2px solid $gray;
      border-radius: 100%;
      margin-right: $margin-8;
      flex-shrink: 0;

      img {
        width: 100%;
        height: 100%;
        border-radius: 100%;
      }
    }

    .name {
      font-size: 12px;
      line-height: 12px;
    }

    .description {
      margin-top: 4px;
      font-size: 10px;
      font-family: SmartFontUI;
      line-height: 11px;
    }
  }

  .copyright {
    font-size: 10px;
    line-height: 10px;
    bottom: 0;
    right: 0;
    position: absolute;
  }

  .not-found, .loading {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &.fullscreen {
      top: 0;
      left: 0;
      position: absolute;
      width: 100%;
      height: 100%;
    }
  }
}
