$border-width: 1px;
$border-color: #E6E6E6;
$border-radius: 4px;
$color: #3C3C3C;
$font-size: 12px;
$font-family: SmartPhoneUI, sans-serif;
$line-height: 14px;

$margin: 4px;
$margin-small: $margin * 2;
$margin-medium: $margin * 4;
$margin-large: $margin * 6;
$margin-extra-large: $margin * 12;

$main-background-color: #F5F5F5;

$container-width: 800px;
$container-height: 600px;
$container-background-color-start: #FFFFFF;
$container-background-color-end: #FAFAFA;
$container-box-shadow-color: rgba(0, 0, 0, .12);
$container-header-border-width: 2px;

$articles-height: 220px;

$footer-profile-icon-height: 40px;
$footer-profile-icon-border-width: $border-width * 2;
$footer-copyright-font-size: 10px;

$logo-height: 30px;

// Colors

$color-white: #FFFFFF;
