$color-white: #FFFFFF;
$color-gray: #E6E6E6;
$color-dark-gray: #787878;
$color-black: #3C3C3C;

$border-width: 1px;
$border-color: $color-gray;
$border-radius: 4px;

$margin: 4px;
$margin-small: $margin * 2;
$margin-medium: $margin * 4;
$margin-large: $margin * 6;
$margin-extra-large: $margin * 12;
