@import "../../constants";

.container {
  padding: $Spacing-XL 0;

  @include device(pc) {
    background: url(images/background/pc.jpg);
    background-size: cover;
  }

  @include device(sp) {
    background: url(images/background/sp.jpg);
    background-size: cover;
  }
}

.caption {
  text-align: center;
  margin: $Spacing-L 0 $Spacing-XL 0;

  @include device(pc) {
    @include Typography-M;
  }

  @include device(sp) {
    @include Typography-S;
  }
}

.articles,
.booth {
  @include device(pc) {
    padding: $Spacing-L 0 $Spacing-XL 0;
  }

  @include device(sp) {
    padding: $Spacing-M 0 $Spacing-XL 0;
  }
}

.stickers {
  @include device(pc) {
    padding: $Spacing-L 0 $Spacing-XL 0;
  }

  @include device(sp) {
    padding: $Spacing-M 0 $Spacing-XL 0;
  }
}

.article {
  width: 256px;
  min-width: 256px;

  @include device(pc) {
    margin-left: $Spacing-L;

    &:first-child {
      margin-left: $Spacing-XL;
    }

    &:last-child {
      margin-right: $Spacing-XL;
    }
  }

  @include device(sp) {
    margin-left: $Spacing-M;

    &:first-child {
      margin-left: $Spacing-L;
    }

    &:last-child {
      margin-right: $Spacing-L;
    }
  }
}

.sticker,
.item {
  @extend .article;

  width: 128px;
  min-width: 128px;
}

.title {
  margin-bottom: $Spacing-S;

  @include device(pc) {
    @include Typography-L;
  }

  @include device(sp) {
    @include Typography-M;
  }
}

.description {
  @include Typography-S;
  margin-bottom: $Spacing-S;
}

.tags {
  @include Typography-XS;
  color: $Color-Gray;
  display: flex;
  justify-content: flex-end;

  .tag {
    margin-left: $Spacing-S;

    img {
      margin-right: $Spacing-XS;
      vertical-align: bottom;
    }
  }
}
